<div class="
h-16 p-2 bg-gradient-to-b from-slate-300 via-slate-100 to-slate-300 flex w-full
 items-center justify-between">
  <div class="p-2">
    <a routerLink="/" routerLinkActive="active">
      <span
        class="font-bold font-serif text-emerald-700 text-4xl transition duration-300 hover:text-blue-600 ">Car Sales</span>
    </a>
  </div>
  <div class="flex w-8/12">
    <div class="ml-16">
      <a routerLink="users" routerLinkActive="active"><span class="font-bold text-gray-700 text-2xl hover:text-blue-600">Users</span></a>
    </div>
    <div class="ml-16">
      <a routerLink="cars" routerLinkActive="active"><span  class="font-bold text-gray-700 text-2xl hover:text-blue-600">Cars</span></a>
    </div>
  </div>
</div>
